.navigation__list {
  display: flex; 
  justify-content: center; 
  margin-top: 50px;   
}

li:first-of-type > .navigation__list--link {
  margin-right: 10px;
}

li:last-of-type > .navigation__list--link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li:last-of-type > .navigation__list--link > span {
  margin-top: 10px;
}