.warble {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  max-width: 320px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.8); 
}

.warble.mode-edit {
  flex-direction: column;
}

.warble:hover .warble-me {
  display: none;
}

.warble:hover .warble-actions {
  display: block;
}

.warble img, svg {
  border-radius: 50%;
}

.warble h4 {
  font-size: 14px;
  margin-left: 10px;
}

.warble-form--submit {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.warble-me {
  display: block;
  position: absolute;
  right: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
}

.warble-actions {
  display: none;
  position: absolute;
  right: 10px;
}

.warble-actions > span {
  cursor: pointer;  
}

.warble-actions > span:first-of-type {
  margin-right: 10px;
}
