.auth {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.auth__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px
}

.auth__social {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.auth__social > button {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  background: white;
  cursor: pointer;
}
