.profile-edit-button {
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #04aaff;
  border-radius: 20px;
  padding: 10px;
}

.profile-edit-button:hover {
  cursor: pointer;
}

.profile-form {
  padding-bottom: 30px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-form__submit {
  margin-top: 10px;
}

.profile__my-nweets {
  border-top: 1px solid #04aaff;
  margin-top: 10px;
  padding-top: 10px;
}

.profile__my-nweets > h1 {
  text-align: center;
  color: #04aaff
}

.profile__my-nweets-contents {
  margin-top: 30px;
}

.profile__my-nweets-loading {
  text-align: center;
}

.profile-form__cancel {
  margin-top: 50px;
}
